#marco{
    background-color: chocolate;
}
.casilla{
    width:120px;
    height: 120px;
    border: rgb(88, 9, 95) solid 2px;
    border-radius: 15px;
    background-color: cornsilk;
    font-size: 80px;
    font-weight: bold;    
    text-align: center;
    
}

.division{
    margin: -15px 110px;
    padding: 6%;
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#tablero{
    width: 40%;
    margin: 0 auto;
}